.root-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}

.login-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  width: 25vw;
  height: 45vh;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.input-container-sign-up {
  margin-bottom: 3%;
  width: 90%;
  height: 20%;
}

.input-container {
  margin-bottom: 3%;
  width: 90%;
  height: 30%;
}

.login-input {
  width: 90%;
  height: 20%;
  font-size: 18px;
  border-radius: 5px;
  padding: 3%;
  margin-top: 1%;
  border: solid;
  border-color: black;
  border-width: 2px;
}

.login-input:focus {
  border-color: rgb(92, 92, 205);
  outline-style: none;
}

.login-input-red {
  width: 90%;
  height: 20%;
  font-size: 18px;
  border-radius: 5px;
  padding: 3%;
  margin-top: 1%;
  border: solid;
  border-color: red;
  border-width: 2px;
}

.login-input-red:focus {
  outline-style: none;
  border-color: rgb(92, 92, 205);
}

.input-description {
  font-size: 22px
}

.login-button {
  background-color: white;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
  padding: 3px;
  transition-duration: 0.3s;
  width: 70%;
  height: 10%;
  font-size: 18px;
}

.login-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1%;
  width: 25vw;
  min-width: 300px;
}

.login-notice {
  color: red;
  margin-bottom: 1%;
}
